{% extends "base.html" %}
{% block navbar %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse"
                    data-target="#main-nav"><span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a href="#" class="navbar-brand scroll-top logo"><img src="/static/images/metabanks-logo.png"></a></div>
        <div id="main-nav" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="mainNav">
                <li class="active"><a href="{% url 'home' %}#home" class="scroll-link">Home</a></li>
                <li><a href="{% url 'home' %}#aboutus" class="scroll-link">About Us</a></li>
                <li><a href="{% url 'home' %}#products" class="scroll-link">Products</a></li>
{#                <li><a href="{% url 'home' %}#news" class="scroll-link">News</a></li>#}
{#                <li><a href="{% url 'home' %}#support" class="scroll-link">Support</a></li>#}
                <li><a href="{% url 'home' %}#contact" class="scroll-link">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <!--/.navbar-collapse-->
</nav>
{% endblock %}
{% block content %}
    <section id="home">
        <div class="banner-container"><img class="img-responsive"
                                           src="/static/images/Products-Exposure Management-System-(EMS).png"
                                           alt="banner"/>
        </div>
    </section>
    <section id="aboutus">
        <div class="container">
            <div class="heading">
                <h2>
                    Exposure Management System
                </h2>
                <h6 id="small-intro">
                    Products
                </h6>
            </div>
            <div class="row">
                <div class="col-md-8">

                    <p class="grey-p">
                        <span class="green-text">MetaBanks</span> Exposure Management System (EMS) delivers real-time
                        Business Intelligence, Analytics and Reporting tools that provide an instant view of current
                        exposure standing with other bank correspondents. The system is based on providing real time
                        exposure data correlated against Limits for actual Trade Finance and Treasury transactions that
                        have been conducted. EMS provides Executive Management with accurate and real time intelligence
                        that allows for instant decision making in times of crisis and eases day-to-day decision making
                        for the Financial Institutions department. EMS also provides pro-active control flags including
                        reminders & alarms notifying of breaches in limits. A comprehensive list of the EMS's features include:
                    </p>
                    <ul class="padding-30 grey-p">
                        <li>Limits Reports: Provide a unique way for FIs to monitor Limits granted for each Bank/Country based on limit type.</li>
                        <li>Exposure Reports: monitoring Trade Finance and Treasury exposures by Bank/Country.</li>
                        <li>Limits vs. Exposure: monitoring Limits against exposures and setting Pro-active control flags which will notify users of breaches in limits.</li>
                        <li>Portfolio Reports: Managing FIs portfolio as a whole in terms of Total exposure, Incoming/Outgoing business, Funded vs unfunded exposure, Beneficiaries and Applicants, Top 20 exposures and Treasury exposure.</li>
                        <li>Profitability Reports: monitoring FI profitability by a time frame and providing profitability dashboards which will help in maximizing profits that the FI Department generates.</li>
                        <li>Relationship Reports: monitoring Business Direction (Incoming/Outgoing/RMA) to enhance the relationship with FI’s counterparty.</li>
                        <li>Workflow:  Workflow is designed to facilitate and automate the approvals process presented to the Credit Committee for FI transactions & credit review processing. The automated transaction will extract all available information related to the counterparty under review from the system, creating an efficient way to process transactions and reducing human error.</li>
                    </ul>
                    <br>
                </div>
                <div class="col-md-4 ">
                    <h1 class=" margin-top-0 green-qoute">“</h1>
                    <h1 class="investment"> The Individual Investor</h1>
                    <p class="parg width-69">
                        should act consistently as an investor and not as a speculator
                    </p>
                    <h1 class="second-qoute green-qoute">”</h1>
                </div>
            </div>

        </div>
    </section>
{#    <section class="secPad">#}
{#        <div class="container">#}
{#            <div class="heading">#}
{#                <h3>#}
{#                    Product Overview#}
{#                </h3>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-md-8">#}
{#                    <img class="img-responsive" src="/static/images/video.png">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <section class="margin-bot-50">
        <div class="container">
            <div class="heading">
                <h2>
                    Features
                </h2>
            </div>
            <div class="row margin-bot-20" align="center">
                <div class="col-md-4 features">
                    <div class="about padding-10">
                        <img class="img-responsive medium-margin-top" src="/static/images/feature-limits-reports.png">
                        <h3 class="bold">Limits Report</h3>
                        <p class="grey-p font-16 width-90">Provide a unique way for FLs to monitor limits granted for
                            each Bank/Country based on limits type.</p>
                    </div>
                </div>
                <div class="col-md-4 features">
                    <div class="about padding-10">
                        <img class="img-responsive medium-margin-top" src="/static/images/feature-exposure-reports.png">
                        <h3 class="bold">Exposure Report</h3>
                        <p class="grey-p font-16 width-90">Provide a unique way for FLs to monitor limits granted for
                            each Bank/Country based on limits type.</p>
                    </div>
                </div>
                <div class="col-md-4 features">
                    <div class="about padding-10">
                        <img class="img-responsive medium-margin-top"
                             src="/static/images/feature-limits-vs-exposure.png">
                        <h3 class="bold">Limits: vs.Exposure</h3>
                        <p class="grey-p font-16 width-90">Provide a unique way for FLs to monitor limits granted for
                            each Bank/Country based on limits type.</p>
                    </div>
                </div>
            </div>
            <div class="row margin-bot-20" align="center">
                <div class="col-md-4 features">
                    <div class="about padding-10">
                        <img class="img-responsive medium-margin-top"
                             src="/static/images/feature-profitability-reports.png">
                        <h3 class="bold">Portfolio Report</h3>
                        <p class="grey-p font-16 width-90">Provide a unique way for FLs to monitor limits granted for
                            each Bank/Country based on limits type.</p>
                    </div>
                </div>
                <div class="col-md-4 features">
                    <div class="about padding-10">
                        <img class="img-responsive medium-margin-top" src="/static/images/feature-workflow1.png">
                        <h3 class="bold">Workflow</h3>
                        <p class="grey-p font-16 width-90">Provide a unique way for FLs to monitor limits granted for
                            each Bank/Country based on limits type.</p>
                    </div>
                </div>
                <div class="col-md-4 features">
                    <div class="about padding-10">
                        <img class="img-responsive medium-margin-top"
                             src="/static/images/feature-profitability-reports.png">
                        <h3 class="bold">Profitability Report</h3>
                        <p class="grey-p font-16 width-90">Provide a unique way for FLs to monitor limits granted for
                            each Bank/Country based on limits type.</p>
                    </div>
                </div>
            </div>
            <div class="row margin-bot-20" align="center">
                <div class="col-md-4 features">
                    <div class="about padding-10">
                        <img class="img-responsive medium-margin-top"
                             src="/static/images/feature-relationship-reports.png">
                        <h3 class="bold">Portfolio Report</h3>
                        <p class="grey-p font-16 width-90">Provide a unique way for FLs to monitor limits granted for
                            each Bank/Country based on limits type.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}